# Erhan Asad Javed

## Research question/interests

#### Intro to research question here



#### Key research questions
- RQ 1
- RQ 2
- RQ 3

## EDA

### Imports

In [291]:
import os

import altair as alt
import pandas as pd
from toolz.curried import pipe
import numpy as np

# Create a new data transformer that stores the files in a directory
def json_dir(data, data_dir='altairdata'):
    os.makedirs(data_dir, exist_ok=True)
    return pipe(data, alt.to_json(filename=data_dir + '/{prefix}-{hash}.{extension}') )

# Register and enable the new transformer
alt.data_transformers.register('json_dir', json_dir)
alt.data_transformers.enable('json_dir')

# Handle large data sets (default shows only 5000)
# See here: https://altair-viz.github.io/user_guide/data_transformers.html
alt.data_transformers.disable_max_rows()

alt.renderers.enable("mimetype")

RendererRegistry.enable('mimetype')

### Loading in the data

In [292]:
data = pd.read_csv('../../data/raw/Airbnb_Open_Data.csv', parse_dates=['last review'])
data.head()

/var/folders/xb/qx49vz8d0930c_62scc8m74w0000gn/T/ipykernel_43106/168074796.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('../../data/raw/Airbnb_Open_Data.csv', parse_dates=['last review'])

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,2021-10-19,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,2022-05-21,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaT,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,2019-07-05,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,2018-11-19,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [293]:
print(f'Dataset shape: \n{data.shape}')
print(f'Dataset columns: \n{data.columns}')
data.info()

Dataset shape:
(102599, 26)
Dataset columns:
Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   NAME                            102349 non-null  object
 2   host id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host name                       102193 non-null  object
 5   neighbourhood group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room type                       102599 non-null  object
 14  Construction year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service fee                     102326 non-null  object
 17  minimum nights                  102190 non-null  float64
 18  number of reviews               102416 non-null  float64
 19  last review                     86706 non-null   datetime64[ns]
 20  reviews per month               86720 non-null   float64
 21  review rate number              102273 non-null  float64
 22  calculated host listings count  102280 non-null  float64
 23  availability 365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: datetime64[ns](1), float64(9), int64(2), object(14)
memory usage: 20.4+ MB

In [294]:
data.describe().drop(columns=['id', 'host id'])

,lat,long,Construction year,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365
count,102591.000000,102591.000000,102385.000000,102190.000000,102416.000000,86706,86720.000000,102273.000000,102280.000000,102151.000000
mean,40.728094,-73.949644,2012.487464,8.135845,27.483743,2019-06-12 03:40:52.065601024,1.374022,3.279106,7.936605,141.133254
min,40.499790,-74.249840,2003.000000,-1223.000000,0.000000,2012-07-11 00:00:00,0.010000,1.000000,1.000000,-10.000000
25%,40.688740,-73.982580,2007.000000,2.000000,1.000000,2018-10-28 00:00:00,0.220000,2.000000,1.000000,3.000000
50%,40.722290,-73.954440,2012.000000,3.000000,7.000000,2019-06-14 00:00:00,0.740000,3.000000,1.000000,96.000000
75%,40.762760,-73.932350,2017.000000,5.000000,30.000000,2019-07-05 00:00:00,2.000000,4.000000,2.000000,269.000000
max,40.916970,-73.705220,2022.000000,5645.000000,1024.000000,2058-06-16 00:00:00,90.000000,5.000000,332.000000,3677.000000
std,0.055857,0.049521,5.765556,30.553781,49.508954,NaN,1.746621,1.284657,32.218780,135.435024

In [295]:
data.describe(include=['object']).drop(columns=['NAME', 'host_identity_verified', 'host name'])

,neighbourhood group,neighbourhood,country,country code,instant_bookable,cancellation_policy,room type,price,service fee,house_rules,license
count,102570,102583,102067,102468,102494,102523,102599,102352,102326,50468,2
unique,7,224,1,1,2,3,4,1151,231,1976,1
top,Manhattan,Bedford-Stuyvesant,United States,US,False,moderate,Entire home/apt,$206,$41,#NAME?,41662/AL
freq,43792,7937,102067,102468,51474,34343,53701,137,526,2712,2

### Cleaning the data

In [296]:
data.isna().sum()

id                                     0
NAME                                 250
host id                                0
host_identity_verified               289
host name                            406
neighbourhood group                   29
neighbourhood                         16
lat                                    8
long                                   8
country                              532
country code                         131
instant_bookable                     105
cancellation_policy                   76
room type                              0
Construction year                    214
price                                247
service fee                          273
minimum nights                       409
number of reviews                    183
last review                        15893
reviews per month                  15879
review rate number                   326
calculated host listings count       319
availability 365                     448
house_rules                        52131
license                           102597
dtype: int64

### Preliminary analysis of attributes

In [297]:
data["NAME"].value_counts()

NAME
Home away from home                       33
Water View King Bed Hotel Room            30
Hillside Hotel                            30
New york Multi-unit building              27
Brooklyn Apartment                        27
                                          ..
CBG CtyBGd HelpsHaiti rm#1:1-4             1
CBG Helps Haiti Room#2.5                   1
CBG Helps Haiti Rm #2                      1
MAISON DES SIRENES1,bohemian apartment     1
Sunny Bedroom Across Prospect Park         1
Name: count, Length: 61281, dtype: int64

In [298]:
data['neighbourhood group'] = data['neighbourhood group'].replace({
    'brookln': 'Brooklyn',
    'manhatan': 'Manhattan'
})

data["neighbourhood group"].value_counts()

neighbourhood group
Manhattan        43793
Brooklyn         41843
Queens           13267
Bronx             2712
Staten Island      955
Name: count, dtype: int64

In [299]:
data["country"].value_counts()

country
United States    102067
Name: count, dtype: int64

In [300]:
data["instant_bookable"].value_counts()

instant_bookable
False    51474
True     51020
Name: count, dtype: int64

In [301]:
data["cancellation_policy"].value_counts()

cancellation_policy
moderate    34343
strict      34106
flexible    34074
Name: count, dtype: int64

In [302]:
data["room type"].value_counts()

room type
Entire home/apt    53701
Private room       46556
Shared room         2226
Hotel room           116
Name: count, dtype: int64

In [303]:
# remove the $ sign and unwanted characters from the records
data["price"] = (
    data["price"]
    .astype(str)  # Ensure it's a string
    .str.replace(r"[^0-9.]", "", regex=True)  # Remove non-numeric characters except decimal point
    .str.strip()  # Remove any whitespace
    .replace("", "-1")  # Replace empty strings with "-1"
    .astype(float)  # Convert to float
)

# remove the $ sign and unwanted characters from the records
data["sevice fee"] = (
    data["service fee"]
    .astype(str)  # Ensure it's a string
    .str.replace(r"[^0-9.]", "", regex=True)  # Remove non-numeric characters except decimal point
    .str.strip()  # Remove any whitespace
    .replace("", "-1")  # Replace empty strings with "-1"
    .astype(float)  # Convert to float
)

data["minimum nights"] = np.array(data["minimum nights"], dtype = np.int16)
data["number of reviews"] = np.array(data["number of reviews"], dtype = np.int16)
data["review rate number"] = np.array(data["review rate number"], dtype=np.int8)

data[data.select_dtypes(include=['int64', 'float64']).columns] = data.select_dtypes(include=['int64', 'float64']).fillna(-1)
data['last review'] = data['last review'].fillna(pd.Timestamp("2099-01-01"))
data[data.select_dtypes(include=['object']).columns] = data.select_dtypes(include=['object']).fillna("Unknown")

data.isna().sum()

/opt/miniconda3/envs/cpsc330/lib/python3.12/site-packages/pandas/core/series.py:1031: RuntimeWarning: invalid value encountered in cast
  arr = np.asarray(values, dtype=dtype)

id                                0
NAME                              0
host id                           0
host_identity_verified            0
host name                         0
neighbourhood group               0
neighbourhood                     0
lat                               0
long                              0
country                           0
country code                      0
instant_bookable                  0
cancellation_policy               0
room type                         0
Construction year                 0
price                             0
service fee                       0
minimum nights                    0
number of reviews                 0
last review                       0
reviews per month                 0
review rate number                0
calculated host listings count    0
availability 365                  0
house_rules                       0
license                           0
sevice fee                        0
dtype: int64

### Some basic visualizations

In [304]:
# Group by neighbourhood and count listings
top_neighbourhoods = (
    data.groupby("neighbourhood")["id"].count()
    .reset_index()
    .rename(columns={"id": "count"})
    .nlargest(30, "count")
)

# Create the bar chart
chart = (
    alt.Chart(top_neighbourhoods)
    .mark_bar()
    .encode(
        x=alt.X("count:Q", title="Number of Listings"),
        y=alt.Y("neighbourhood:N", sort="-x", title="Neighbourhood"),
        tooltip=["neighbourhood", "count"]
    )
    .properties(title="Top 30 Neighbourhoods by Airbnb Listings", width=600, height=800)
)

chart

<VegaLite 5 object>

If you see this message, it means the renderer has not been properly enabled
for the frontend that you are using. For more information, see
https://altair-viz.github.io/user_guide/display_frontends.html#troubleshooting

In [305]:
price_hist = alt.Chart(data).mark_bar().encode(
    x=alt.X('price:Q', bin=alt.BinParams(maxbins=50), title='Price (USD)'),
    y=alt.Y('count()', title='Number of Listings'),
    tooltip=['count()']
).properties(
    title="Distribution of Airbnb Listing Prices",
    width=500,
    height=300
)

price_hist

<VegaLite 5 object>

If you see this message, it means the renderer has not been properly enabled
for the frontend that you are using. For more information, see
https://altair-viz.github.io/user_guide/display_frontends.html#troubleshooting

In [306]:
neighbourhood_price = alt.Chart(data).mark_bar().encode(
    x=alt.X('neighbourhood:N', sort='-y', title='Neighbourhood'),
    y=alt.Y('mean(price):Q', title='Average Price (USD)'),
    color='neighbourhood group:N',
    tooltip=['neighbourhood', 'mean(price)', 'neighbourhood group:N']
).properties(
    title="Average Airbnb Price by Neighbourhood",
    width=600,
    height=300
)

neighbourhood_price.show()

<VegaLite 5 object>

If you see this message, it means the renderer has not been properly enabled
for the frontend that you are using. For more information, see
https://altair-viz.github.io/user_guide/display_frontends.html#troubleshooting